[user]
    email = zeekus99@gmail.com
    name = Isaac Schaaf
[core]
    excludesfile = ~/.gitignore
    editor = nvim
[color]
    ui = auto
    diff = auto
    status = auto
    interactive = auto
[alias]
    st = status
    au = add -u
    pt = add --patch
    ci = commit -v
    cia = commit -am
    br = branch
    co = checkout
    df = diff
    dfc = diff --cached
    lg = log -p
    spull = !git-svn fetch && git-svn rebase --local
    spush = !git-svn dcommit
    pob = !"git pull --rebase origin $(git rev-parse --abbrev-ref HEAD)"
    pub = !"git push origin $(git rev-parse --abbrev-ref HEAD)"
    repub = !git pob && git pub
    cfg = config --global
    cim = commit -m
    lol = log --graph --decorate --pretty=oneline --abbrev-commit --date-order
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date-order
    loli = log --graph --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --author-date-order
