[user]
	email = eng@relaynetwork.com
	name = Josh
[core]
	excludesfile = /home/superg/.gitignore

[color]
        ui = auto
        diff = auto
        status = auto
        interactive = auto
[alias]
        st = status
        au = add -u
        pt = add --patch
        ci = commit -v
        cia = commit -av
        br = branch
        co = checkout
        df = diff
        dfc = diff --cached
        lg = log -p
        spull = !git-svn fetch && git-svn rebase --local
        spush = !git-svn dcommit
        pom = pull origin master
        pob = !bash -l -c "'. ~/.bashrc; git pull --rebase origin $(__git_ps1 \"%s\")'"
        pub = !bash -l -c "'. ~/.bashrc; git push origin $(__git_ps1 \"%s\")'"
        repub = !bash -l -c "'git pob && git pub'"
        lg = log -p
