[user]
  email = kburton@relaynetwork.com
  name = Josh and NickM
[core]
          excludesfile = /home/kburton/.gitignore

[color]
        ui = auto
        diff = auto
        status = auto
        interactive = auto
[alias]
  st = status
  au = add -u
  pt = add --patch
  ci = commit -v
  cia = commit -am
  br = branch
  co = checkout
  df = diff
  dfc = diff --cached
  lg = log -p
  spull = !git-svn fetch && git-svn rebase --local
  spush = !git-svn dcommit
  pob = !bash -l -c "'. ~/.bashrc; git pull --rebase origin $(__git_ps1 \"%s\")'"
  pub = !bash -l -c "'. ~/.bashrc; git push origin $(__git_ps1 \"%s\")'"
  repub = !git pob && git pub
  lg    = log -p
  cfg   = config --global
	cim = commit -m
  l = log --pretty=format:'%C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset'
