[user]
	email = kburton@relaynetwork.com
	name = Tim
[core]
	excludesfile = /home/kburton/.gitignore

[color]
        ui = auto
        diff = auto
        status = auto
        interactive = auto
[alias]
  st = status
  au = add -u
  pt = add --patch
  ci = commit -v
  cia = commit -am
  br = branch
  co = checkout
  df = diff
  dfc = diff --cached
  lg = log -p
  spull = !git-svn fetch && git-svn rebase --local
  spush = !git-svn dcommit
  pob   = pull --rebase
  pub   = push
  repub = !git pob && git pub
  lg    = log -p
  cfg   = config --global
	cim = commit -m
